.main {
  &__nav, &__content {
    padding: 2rem;
  }
}

ul {
  list-style: none;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  background-color: aliceblue;
}

li {
  padding: 0 2rem;
  color: blueviolet;
  text-transform: uppercase;
  cursor: pointer;
}

a {
  text-decoration: none;
}
